<div class='footer'>
  Copyright © 2020 <a href='mailto:saab.hoq@gmail.com'>Sabiqul Hoque</a><br>
  Inspired by <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> <br>
  Last updated on %s. Generated using %s.
</div>
