<div class='intro'>
  <img src='https://img.icons8.com/bubbles/250/000000/stethoscope.png' alt='Sabiqul Hoque' class='no-border'/>
  <h1>
    <span class="gray">Sabiqul</span>
    <span class="black">Hoque</span>
  </h1>
  <p>A simple blog regarding all things medicine. Written and maintained by a medical student</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='https://www.notion.so/sabsblog/Sab-s-Lab-d125c075b2e2443892252ef978b4c866'>Notion Blog</a>.</li>
<li><a href='https://gitlab.com/Sabiqul'>GitLab</a>.</li>
<li><a href='https://github.com/sabicool'>Github</a>.</li>
<li><a href='/about/'>About</a></li>
</ul>
</div>
